@font-face {
    font-family: 'delta_ray_bevel_italicregular';
    src: url('deltaraybevelital-webfont.woff2') format('woff2'),
         url('deltaraybevelital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'delta_rayregular';
    src: url('deltaray-webfont.woff2') format('woff2'),
         url('deltaray-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.clickgrabber {
  height: 100vh;
  width: 100vw;
}
.fancy-welcome-div {
  background-color: #D2D1C8;
  padding:20px;
  font-family: 'delta_ray_bevel_italicregular';
  clip-path: polygon(95% 0, 100% 20px, 100% 100%, 0 100%, 0 0);
  position: fixed;
  bottom:0;
  left:0;
  font-size: 60px;
  padding-left: 20px;
  
}

html, body {
  margin:0px;
}

.button {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.button:hover {
  color: white;
}

.smallwelc {
  font-family: 'delta_rayregular';
  position:fixed;
  font-size: 20px;
  padding-left: 20px;
  bottom:0;
  left:0;
}
body {
  background-color: #6B6259;
  font-family: 'delta_rayregular';
}

.background-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
}