@font-face {
  font-family: 'DELTA.ttf';
  src: url('DELTA.ttf') format('truetype');
}
body {
  background-color: #6B6259;
  font-family: 'DELTA', sans-serif;
}

.background-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
}